@charset "UTF-8";
*
{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body
{
    background: #500072;
}
header#main-header
{
    background: #500072 url("img/header-1.png") no-repeat center center scroll;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 0;
}
.texts
{
    position: relative;
    bottom: 70vh;
}
.texts h2
{
    font-size: 5em;
    color: #fff;
    font-family: "Century", monospace;
}
.pull-up
{
    width: 98%;
    margin: 0 auto;
}
.card-d
{
    background: transparent;
    color: #fff;
    flex-grow: 1;
    width: 300px;
    box-shadow: 0 15px 25px #00000022;
    padding: 70px 15px 10px 5px;
    position: relative;
    margin: 0 10px;
    transition: all .3s ease-in-out;
}
.idea
{
    text-align: center;
    font-size: 22px;
    color: transparent;
    padding: 10px 0;
    border-top: 1px dashed transparent;
    border-bottom: 1px dashed transparent;
    transition: all .3s ease-in-out;
    transition-delay: 250ms;
}
.card-d:hover .idea
{
    color: deepskyblue;
    border-color: #500072;
}
span.move-slow
{
    display: inline-block;
    position: relative;
    top: 100px;
    transition: .5s ease-in;
    transition-delay: 180ms;
}
.card-d:hover span.move-slow
{
    top: 0;
}
.card-d:hover
{
    border-top-left-radius: 150px;
    background: #fff;
    color: #500072;
    z-index: 5;
    transform: scale(1.1);
    bottom: 10px;
}

.card-d h2
{
    text-align: right;
    padding-bottom: 10px;
}
.card-d:hover a
{
    opacity: .8;
    background-color: #500072;
}
.card-d a
{
    transition: .3s ease;
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 3px 3px 15px #00000022;
    width: 95%;
    margin: 0 auto;
    padding: 20px 5px;
}
.card-d:last-of-type
{
    bottom:  100vh;
}
.card-d:nth-of-type(3)
{
    bottom:  75vh;
}
.card-d:nth-of-type(2)
{
    bottom:  55vh;
}
h2#big-heading
{
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    padding: 50px;
    background: transparent;
    border: 5px solid #fff;
    width: 300px;
    color: #fff;
}
ul
{
    list-style: none;
    width: 100%;
    padding: 5px;
}
ul li
{
    padding: 4px 5px;
    text-align: center;
}
section.message-me
{
    background: transparent url("../img/bg.png") no-repeat bottom right fixed;
    background-size: cover;
    min-height: 800px;
}
.message-me .row
{
    min-height: inherit;
}
.message-me .row > div
{
    width: 30%;
    min-width: 350px;
}
.message-me .row > div:last-of-type
{
    width: 70%;
}
.input
{
    outline: none;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 0 5px;
    background: #500072;
    color: #fff;
}
.contact-row
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(5px);
}
textarea
{
    outline: none;
}
.contact-row form
{
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 1260px) {
    div.card-d
    {
        position: static !important;
        bottom: 0 !important;
    }
    h2#big-heading
    {
        position: relative;
        left: 60vw;
        bottom: 50vh;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
        padding: 50px;
        background: transparent;
        border: 5px solid #fff;
        width: 300px;
        color: #fff;
    }
    .pull-up
    {
        width: 95%;
        margin: 0 auto;
        position: relative;
        bottom: 35vh;
        padding: 50px 5px;
    }

}

.pull-up
{
    background: transparent url("img/repeat.png") no-repeat;
}
